@model JulieInventoryMVC_Models.Users.UserMaster
@using JulieInventoryMVC.App_Resources;

@{
    ViewBag.Title = "Profile";
}
@section csss{
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/icon/themify-icons/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/icon/icofont/css/icofont.css">
    <link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/jquery.steps/css/jquery.steps.css">
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/css/pages.css">
    <style>
        .wizard > .content {
            background: none !important;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
}
<div class="pcoded-content">
    <div class="page-header card">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="fa fa-user bg-c-blue"></i>
                    <div class="d-inline">
                        <h5>@GlobalRes.User_Profile</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class=" breadcrumb breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="/Home/Index"><i class="feather icon-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!"> @GlobalRes.User</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!">@GlobalRes.User_Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="wizardb">
                                                <section>
                                                    <form class="wizard-form" id="verticle-wizard" action="Index" method="post">
                                                        <h3> Registration </h3>
                                                        <fieldset>
                                                            <div class="form-group row">
                                                                <div class="col-sm-12">
                                                                    <label for="userName-2" class="block">User name *</label>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <input id="userName-2b" name="userName" type="text" class=" form-control" value="@Model.UserName">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-sm-12">
                                                                    <label for="email-2" class="block">Email *</label>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <input id="email-2b" name="email" type="email" class=" form-control" value="@Model.EmailId">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-sm-12">
                                                                    <label for="password-2" class="block">Password *</label>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <input id="password-2b" name="password" type="password" class="form-control " value="@Model.UserPwd">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-sm-12">
                                                                    <label for="confirm-2" class="block">Confirm Password *</label>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <input id="confirm-2b" name="confirm" type="password" class="form-control ">
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                        <h3> General information </h3>
                                                        <fieldset>
                                                            <div class="form-group row">
                                                                <div class="col-sm-12">
                                                                    <label for="name-2" class="block">Print Name *</label>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <input id="name-2b" name="name" type="text" class="form-control" value="@Model.PrintName">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-sm-12">
                                                                    <label for="phone-2" class="block">Phone #</label>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <input id="phone-2b" name="phone" type="number" class="form-control phone" value="@Model.MobileNo">
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="styleSelector"></div>
@section scripts{

    <script type="text/javascript" src="~/Content/files/bower_components/modernizr/js/modernizr.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/modernizr/js/css-scrollbars.js"></script>
    <script src="~/Content/files/bower_components/jquery.cookie/js/jquery.cookie.js"></script>
    <script src="~/Content/files/bower_components/jquery.steps/js/jquery.steps.js"></script>
    <script src="~/Content/files/bower_components/jquery-validation/js/jquery.validate.js"></script>
    <script src="cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/files/assets/pages/form-validation/validate.js"></script>
    <script src="~/Content/files/assets/pages/forms-wizard-validation/form-wizard.js"></script>
    <script src="~/Content/files/assets/js/pcoded.min.js"></script>
    <script src="~/Content/files/assets/js/vertical/vertical-layout.min.js"></script>
    <script src="~/Content/files/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/Content/files/assets/js/script.js"></script>

    <script type="text/javascript">
     $(document).ready(function () {
         if ('@TempData["message"]' == "Password Not") {
             toastr.succes('User password not match.');
        }
         else if ('@TempData["message"]' == "User Not") {
             toastr.error('User not match please try again.');
         }
     });
    </script>
}