@using JulieInventoryMVC.App_Resources;
@{
    ViewBag.Title = "Create";
}
<link rel="stylesheet" type="text/css" href="~/Content/files/assets/pages/advance-elements/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/bootstrap-daterangepicker/css/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="~/Content/files/assets/icon/icofont/css/icofont.css">
<style>

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .form-control {
        border-left: none !important;
        border-top: none !important;
        border-right: none !important;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

    #img-upload {
        width: 100%;
    }
</style>
<div class="pcoded-content">
    <div class="page-header card">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="feather icon-inbox bg-c-blue"></i>
                    <div class="d-inline">
                        <h5>@GlobalRes.Order___Invoice_Create</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class=" breadcrumb breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="/Home/Index"><i class="feather icon-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/OrderInvoice/Index"> @GlobalRes.Entry</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!">@GlobalRes.Order___Invoice_Create</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12" style="float:left;">
                            <div class="card">
                                <div class="card-block">
                                    <form>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="form-group form-primary">
                                                        <input class="form-control fill" type="text" name="InvoiceNo" id="InvoiceNo" placeholder="No"  value="@ViewBag.InvoiceNo "/>
                                                        <input class="form-control fill" type="text" name="InvoiceNo" id="InvoiceNo" placeholder="No"  value="@ViewBag.InvoiceNo "/>
                                                        <label>NO</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group form-primary">
                                                        <input class="form-control fill" type="date" name="InvoiceDate" id="InvoiceDate" />
                                                        <label>Invoice Date</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group form-primary">
                                                        <select name="ItemGroup" id="InvoiceNo" class="form-control">
                                                            <option value="0">Select Invoice</option>
                                                        </select>
                                                        <label>Tax Invoice</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group form-primary">
                                                        <input class="form-control fill" type="text" name="LedgerName" id="LedgerName" placeholder="Customer Name" />
                                                        <label>Customer Name</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group form-primary">
                                                        <textarea class="form-control fill" placeholder="Address" id="Address" name="Address">Address </textarea>
                                                        <label>Address</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group form-primary">
                                                        <input class="form-control fill" type="text" name="Reference" id="Reference" placeholder="Refrence" />
                                                        <label>Refrence</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group form-primary">
                                                        <input class="form-control fill" type="text" name="Remark2" id="Remark2" placeholder="Wt." />
                                                        <label>Wt.</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group form-primary">
                                                        <input class="form-control fill" type="text" name="WorkDays" id="WorkDays" placeholder="WorkDays" />
                                                        <label>WorkDays</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group form-primary">
                                                        <input class="form-control" type="datetime-local" id="DeliveryDate" name="DeliveryDate" />
                                                        <label>Delivery</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group form-primary">
                                                        <input class="form-control" type="datetime-local" id="TrialDate" name="TrialDate" />
                                                        <label>Trial</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="dt-responsive table-responsive">
                                                        <table id="tblInvDetail" class="table table-striped table-bordered nowrap">
                                                            <thead>
                                                                <tr style="text-align:left;">
                                                                    <th>Item Name</th>
                                                                    <th>Rate</th>
                                                                    <th>Qty</th>
                                                                    <th>Amt</th>
                                                                    <th>Ready</th>
                                                                    <th>Dlvrd</th>
                                                                    <th>Remark</th>
                                                                    <th>Disc%</th>
                                                                    <th>Discount</th>
                                                                    <th>Print</th>
                                                                    <th>MeasurementBy</th>
                                                                    <th>Remark</th>
                                                                    <th>Alter?</th>
                                                                    <th>LFag</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group form-primary">
                                                        <input class="form-control" type="text" id="MaterialAmt" name="MaterialAmt"  />
                                                        <label>Taxable Amt</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group form-primary">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <input class="form-control" type="text" placeholder="TaxPer" id="TaxPer" name="TaxPer" />
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <input class="form-control" type="text" placeholder="TaxAmt" id="TaxAmt" name="TaxAmt" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <center>
                                                            <label>GST</label>
                                                        </center>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group form-primary">
                                                        <input class="form-control" type="text" name="AdjustAmt" id="AdjustAmt" />
                                                        <label>+ Or - Amt</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group form-primary">
                                                        <input class="form-control" type="text" id="SalesBillAmt" name="SalesBillAmt"  />
                                                        <label>Bill Amt.</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group form-primary">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <input class="form-control" type="text" placeholder="TaxPer" id="AddTaxPer" name="AddTaxPer" />
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <input class="form-control" type="text" placeholder="TaxAmt" id="AddTaxAmt" name="AddTaxAmt" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <center>
                                                            <label>GST</label>
                                                        </center>
                                                    </div>
                                                </div>
                                                @*<div class="col-md-3">
                                                        <div class="form-group form-primary">
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <input class="form-control" type="text" placeholder="AddTaxPer" id="AddTaxPer" name="TaxPer"/>
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <input class="form-control" type="text"  placeholder="AddTaxAmt" id="AddTaxAmt" name="TaxAmt" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <center>
                                                                <label>Discount</label>
                                                            </center>
                                                        </div>
                                                    </div>*@
                                                <div class="col-md-3">
                                                    <div class="form-group form-primary">
                                                        <input class="form-control" type="text" name="DueAmt" id="DueAmt"  />
                                                        <label>Loyalty Amt.</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group form-primary">
                                                        <input class="form-control" type="text" id="ReceivedAmt" name="ReceivedAmt"  />
                                                        <label>Rcvd Amt.</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group form-primary">
                                                        <input class="form-control" type="text" id="DueAmt" name="DueAmt"  />
                                                        <label>Net Total</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group form-primary">
                                                        <input class="form-control" type="text" id="DueAmt" name="DueAmt" />
                                                        <label>Due Amt</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group form-primary">
                                                        <input class="form-control" type="text" id="DueAmt1" name="DueAmt1" />
                                                        <label>Due Amt</label>
                                                    </div>
                                                </div>


                                                <div class="col-md-3">
                                                    <div class="form-group form-primary">
                                                        <select name="SP1" id="SP1" class="form-control">
                                                            <option value="0">Select salesman</option>
                                                            @foreach (var item in ViewBag.SalesMan)
                                                            {
                                                                <option value="@item.LedgerId">@item.LedgerName</option>
                                                            }
                                                        </select>
                                                        <label>SalesMan</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group form-primary">
                                                        <select name="MeasurementBy" id="MeasurementBy" class="form-control">
                                                            <option value="0">Select measurement</option>
                                                            @foreach (var item in ViewBag.Mesurement)
                                                            {
                                                                <option value="@item.LedgerId">@item.LedgerName</option>
                                                            }
                                                        </select>
                                                        <label>Measurement By</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 card-header " style="text-align: center; background-color: #b9b9b9; margin-bottom: 15px;">
                                                    <h5>Advance / Receipt Details :</h5>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group form-primary">
                                                        <input class="form-control" type="date" id="RcptDate" name="RcptDate" />
                                                        <label>Date</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group form-primary">
                                                        <input class="form-control" type="text" id="RcptAmt" name="RcptAmt" />
                                                        <label>Amt</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group form-primary">
                                                        <select name="RcptLedger" id="RcptLedger" class="form-control">
                                                            <option value="0">Select</option>
                                                        </select>
                                                        <label>Rcvd By</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group form-primary">
                                                        <input class="form-control" type="text" id="Narration" name="Narration" />
                                                        <label>Narration </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-xl-12">
                                                    <div class="col-lg-6 col-xl-6">
                                                        <ul class="nav nav-tabs md-tabs " role="tablist">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" data-toggle="tab" href="#home7" role="tab">
                                                                    Tailoring Item
                                                                </a>
                                                                <div class="slide"></div>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" data-toggle="tab" href="#profile7" role="tab">
                                                                    Sales Item
                                                                </a>
                                                                <div class="slide"></div>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" data-toggle="tab" href="#messages7" role="tab">
                                                                    Product / Ready Sales
                                                                </a>
                                                                <div class="slide"></div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="tab-content card-block">

                                                        @*Tailoring Item*@
                                                        <div class="tab-pane active" id="home7" role="tabpanel">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <div class="form-group form-primary">
                                                                        <select name="ItemName" id="ItemName" class="form-control" onchange="GetItemNameDetails()">
                                                                            <option value="0">Select item name</option>
                                                                        </select>
                                                                        <label>Item Name</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="form-group form-primary">
                                                                        <input class="form-control" type="text" name="ItemQty" id="ItemQty" />
                                                                        <label>Pcs</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group form-primary">
                                                                        <input class="form-control" type="text" id="Rate" name="Rate" />
                                                                        <label>Rate</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group form-primary">
                                                                        <input class="form-control" type="text" id="TItemTotal" name="TItemTotal"  />
                                                                        <label>Amt</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="dt-responsive table-responsive">
                                                                        <table id="tblItemMaster" class="table table-striped table-bordered nowrap">
                                                                            <thead>
                                                                                <tr style="text-align:left;">
                                                                                    <th>Sr.</th>
                                                                                    <th>Para. Name</th>
                                                                                    <th>Measurement</th>
                                                                                    <th>Note/Style</th>
                                                                                    <th>Charges</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="text-align:center">1</td>
                                                                                    <td style="text-align:left">DIPTANSHU JI</td>
                                                                                    <td style="text-align:left">DIPTANSHU JI</td>
                                                                                    <td style="text-align:right">0</td>
                                                                                    <td style="text-align:right">4192</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group form-primary">
                                                                        <select name="SP1" id="SP1" class="form-control">
                                                                            <option value="0">Select salesman</option>
                                                                            @foreach (var item in ViewBag.SalesMan)
                                                                            {
                                                                                <option value="@item.LedgerId">@item.LedgerName</option>
                                                                            }
                                                                        </select>
                                                                        <label>SalesMan</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group form-primary">
                                                                        <select name="MeasurementBy_T" id="MeasurementBy_T" class="form-control" onchange="GetItemName();">
                                                                            <option value="0">Select measurement</option>
                                                                            @foreach (var item in ViewBag.Mesurement)
                                                                            {
                                                                                <option value="@item.LedgerId">@item.LedgerName</option>
                                                                            }
                                                                        </select>
                                                                        <label>Measurement By</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group form-primary">
                                                                        <textarea class="form-control fill" placeholder="Address">Remarks </textarea>                                                                        <label>Remark</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="checkbox-fade fade-in-primary" style="margin-top:10%">
                                                                        <label>
                                                                            <input type="checkbox" id="Alteration" name="Alteration" value="1" class="input-danger">
                                                                            <span class="cr">
                                                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                                                            </span>
                                                                            <span>Alteration</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="checkbox-fade fade-in-primary" style="margin-top:10%">
                                                                        <label>
                                                                            <input type="checkbox" id="RequiredonInvoiceTI" name="RequiredonInvoiceTI" value="1" class="input-danger">
                                                                            <span class="cr">
                                                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                                                            </span>
                                                                            <span>Print In Invoice</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="input-group">
                                                                        <span class="input-group-btn">
                                                                            <span class="btn btn-default btn-file">
                                                                                Browse… <input type="file" id="imgInp">
                                                                            </span>
                                                                        </span>
                                                                        <input type="text" class="form-control" >
                                                                        <input type="hidden" id="hdnImage">
                                                                    </div>
                                                                    <img id='img-upload' />
                                                                </div>
                                                                <div class="card-block" style="float:right">
                                                                    <button class="btn waves-effect waves-light btn-success btn-outline-success" id="btnAddItem">
                                                                        <i class="icofont icofont-check-circled"></i>Add TO Oder
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        @*Sales Item*@
                                                        <div class="tab-pane" id="profile7" role="tabpanel">
                                                            <div class="card-block">
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Item Code</label>
                                                                    <div class="col-sm-8">
                                                                        <input type="text" class="form-control" placeholder="Enter item code">
                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <label style="color:green"> Stock</label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Item Name</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" placeholder="Enter item Name">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Item Details</label>
                                                                    <div class="col-sm-10">
                                                                        <textarea class="form-control"></textarea>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Qty</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="number" class="form-control" placeholder="Enter qty">
                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <select name="select" class="form-control">
                                                                            <option value="opt1">Select One Value Only</option>
                                                                            <option value="opt2">Type 2</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Rate</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="number" class="form-control" placeholder="Enter rate">
                                                                    </div>
                                                                </div>
                                                                @*<div class="form-group row">
                                                                        <label class="col-sm-2 col-form-label">Discount</label>
                                                                        <div class="col-sm-3">
                                                                            <input type="number" class="form-control" placeholder="Enter discount">
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <input type="number" class="form-control" placeholder="Enter discount">
                                                                        </div>
                                                                    </div>*@

                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Item Total</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="number" class="form-control" placeholder="Enter item total">
                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <label class="col-sm-12 col-form-label" style="color:blue">TaxPer</label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label"></label>
                                                                    <div class="col-sm-6">
                                                                        <div class="checkbox-fade fade-in-primary" style="margin-top:10%">
                                                                            <label>
                                                                                <input type="checkbox" id="IsActive" name="IsActive" value="1" class="input-danger">
                                                                                <span class="cr">
                                                                                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                                                                </span>
                                                                                <span>Required on Invoice</span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="card-block" style="float:right">
                                                                    <button class="btn waves-effect waves-light btn-success btn-outline-success" id="additem">
                                                                        <i class="icofont icofont-plus-circle"></i>Add Item
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        @* Product /Ready Sales*@
                                                        <div class="tab-pane" id="messages7" role="tabpanel">
                                                            <div class="card-block">
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Item Code</label>
                                                                    <div class="col-sm-8">
                                                                        <input type="text" class="form-control" placeholder="Enter item code">
                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <label style="color:green"> Stock</label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Item Name</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" placeholder="Enter item Name">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Item Details</label>
                                                                    <div class="col-sm-10">
                                                                        <textarea class="form-control"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Tailoring</label>
                                                                    <div class="col-sm-6">
                                                                        <select name="select" class="form-control">
                                                                            <option value="opt1">Select One Value Only</option>
                                                                            <option value="opt2">Type 2</option>
                                                                        </select>
                                                                    </div>
                                                                    <label class="col-sm-1">PCS</label>
                                                                    <div class="col-sm-2">
                                                                        <input type="text" class="form-control" placeholder="Enter pcs">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Qty</label>
                                                                    <div class="col-sm-7">
                                                                        <input type="number" class="form-control" placeholder="Enter qty">
                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <select name="select" class="form-control">
                                                                            <option value="opt1">Select One Value Only</option>
                                                                            <option value="opt2">Type 2</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Qty</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="number" class="form-control" placeholder="Enter qty">
                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <select name="select" class="form-control">
                                                                            <option value="opt1">Select One Value Only</option>
                                                                            <option value="opt2">Type 2</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Rate</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="number" class="form-control" placeholder="Enter rate">
                                                                    </div>
                                                                </div>
                                                                @*<div class="form-group row">
                                                                        <label class="col-sm-2 col-form-label">Discount</label>
                                                                        <div class="col-sm-3">
                                                                            <input type="number" class="form-control" placeholder="Enter discount">
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <input type="number" class="form-control" placeholder="Enter discount">
                                                                        </div>
                                                                    </div>*@

                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Item Total</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="number" class="form-control" placeholder="Enter item total">
                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <label class="col-sm-12 col-form-label" style="color:blue">TaxPer</label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label"></label>
                                                                    <div class="col-sm-6">
                                                                        <div class="checkbox-fade fade-in-primary" style="margin-top:10%">
                                                                            <label>
                                                                                <input type="checkbox" id="IsActive" name="IsActive" value="1" class="input-danger">
                                                                                <span class="cr">
                                                                                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                                                                </span>
                                                                                <span>Required on Invoice</span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="card-block" style="float:right">
                                                                    <button class="btn waves-effect waves-light btn-success btn-outline-success" id="additem">
                                                                        <i class="icofont icofont-plus-circle"></i>Add Item
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>

        ; (function ($) {
            $(document).on('change', '.btn-file :file', function () {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
            });
            $('.btn-file :file').on('fileselect', function (event, label) {
                var input = $(this).parents('.input-group').find(':text'),
                    log = label;
                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }


            });

            function readURL(input) {
                imgs = input.files[0];
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#imgInp").change(function () {
                readURL(this);
            });

            $("#btnAddItem").on("click", function () {
                alert("Call")
                var itemname = $("#ItemName").text();
                var itemId = $("#ItemName").val();
                var rate = $("#Rate").val();
                var qty = $("#ItemQty").val();
                var amt = $("#TItemTotal").val();
                var ready = $("#").val();
                var dlvrd = $("#").val();
                var remark = $("#Remark").val();
                var disc = $("#").val();
                var discount = $("#").val();
                var print = $("#RequiredonInvoiceTI").val();
                var mesurement = $("#MeasurementBy_T").val();
                var mesurementnm = $("#MeasurementBy_T").text();
                var alter = $("#").val();

                $("#tblInvDetail").each(function () {

                    var tds = '<tr>';
                    jQuery.each($('tr:last td', this), function () {
                        tds += '<td>' + itemname + '</td><td>' + rate + '</td><td>' + qty + '</td><td>' + amt + '</td><td>' + +'</td><td>' + +'</td><td>' + remark +'</td><td>' + +'</td><td>' + +'</td><td>' + print + '</td><td>' + mesurement + '</td><td>' + alter +'</td>';
                    });
                    tds += '</tr>';
                    if ($('tbody', this).length > 0) {
                        $('tbody', this).append(tds);
                    } else {
                        $(this).append(tds);
                    }
                });

                var lid = jQuery("#MeasurementBy_T option:selected").val();
                var imid = jQuery("#ItemName option:selected").val();
                $.ajax({
                    url: "/OrderInvoice/GetItemNameDetails",
                    type: "GET",
                    data: { leadId: lid, iid: imid },
                    dataType: "json",
                    success: function (result) {
                        debugger
                        $("#ItemQty").val(result[0].ProductionLimit);
                        $("#TItemTotal").val(result[0].TItemRate * result[0].ProductionLimit);
                        $("#Rate").val(result[0].TItemRate);


                    }
                });
            });

        })(jQuery);

        function GetItemName() {
            var id = jQuery("#MeasurementBy_T option:selected").val();
            $.ajax({
                url: "/OrderInvoice/GetItemNameList",
                type: "GET",
                data: { leadId: id },
                dataType: "json",
                success: function (result) {
                    $.each(result, function (index, item) {
                        $("#ItemName").append($("<option/>").val(item.TItemId).text(item.TItemName));
                    });
                }
            });
        }
        function GetItemNameDetails() {
            var lid = jQuery("#MeasurementBy_T option:selected").val();
            var imid = jQuery("#ItemName option:selected").val();
            $.ajax({
                url: "/OrderInvoice/GetItemNameDetails",
                type: "GET",
                data: { leadId: lid, iid: imid },
                dataType: "json",
                success: function (result) {
                    debugger
                    $("#ItemQty").val(result[0].ProductionLimit);
                    $("#TItemTotal").val(result[0].TItemRate * result[0].ProductionLimit);
                    $("#Rate").val(result[0].TItemRate);
                }
            });
        }

    </script>
}